<li>
  <%= loading_map_code %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <script>

    var <%= map_load_id %> = {
      idLat: '<%= id_lat %>',
      idLng: '<%= id_lng %>',
      idSearch: 'latlng-search-box-<%= map_load_id %>',
      zoom: '<%= map_zoom %>',
      app: {},
      map: null,
      marker: null,

      init: function(lat, lon) {
        try {
          <%= map_load_id %>.map = new L.Map('<%= map_load_id %>');
        } catch(e) {
          console.log(e);
        }

        var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {minZoom: 1, maxZoom: 20, attribution: osmAttrib});

        <%= map_load_id %>.map.setView([lat, lon],10);
        <%= map_load_id %>.map.addLayer(osm);

        <%= map_load_id %>.map.setZoom(<%= map_load_id %>.zoom);

        if (!<%= map_load_id %>.marker) {
          <%= map_load_id %>.marker = new L.marker([lat, lon], { draggable: 'true' });
        }else{
          <%= map_load_id %>.marker.setLatLng([lat, lon]);
        }

        <%= map_load_id %>.marker.on('dragend', function(e){
          <%= map_load_id %>.map.setView(e.target.getLatLng());

          $("#"+<%= map_load_id %>.idLat).val(e.target.getLatLng().lat);
          $("#"+<%= map_load_id %>.idLng).val(e.target.getLatLng().lng);
        });

        <%= map_load_id %>.map.addLayer(<%= map_load_id %>.marker);

        $("#"+<%= map_load_id %>.idLat).val(lat);
        $("#"+<%= map_load_id %>.idLat).on('change', function(){
          <%= map_load_id %>.marker.setLatLng([Number($(this).val()), <%= map_load_id %>.marker.getLatLng().lng]);
          <%= map_load_id %>.map.setView(<%= map_load_id %>.marker.getLatLng());
        });

        $("#"+<%= map_load_id %>.idLng).val(lon);
        $("#"+<%= map_load_id %>.idLng).on('change', function(){
          <%= map_load_id %>.marker.setLatLng([<%= map_load_id %>.marker.getLatLng().lat, Number($(this).val())]);
          <%= map_load_id %>.map.setView(<%= map_load_id %>.marker.getLatLng());
        });

        $("#"+<%= map_load_id %>.idSearch).keypress(function(e) {
          let ENTER_KEY_CODE = 13;
          if (e.keyCode == ENTER_KEY_CODE) {
            var item = <%= map_load_id %>.searchLocation($(this).val(), <%= map_load_id %>.newLocation);
            e.preventDefault();
          }
        });
      },

      getCoordinates: function() {
        return {
          lat: parseFloat($("#" + <%= map_load_id %>.idLat).val()) || <%= default_lat %>,
          lng: parseFloat($("#" + <%= map_load_id %>.idLng).val()) || <%= default_lng %>,
        };
      },

      newLocation: function(item) {
        $("#"+<%= map_load_id %>.idLat).val(item.lat);
        $("#"+<%= map_load_id %>.idLng).val(item.lon);
        <%= map_load_id %>.marker.setLatLng([item.lat, item.lon]);
        <%= map_load_id %>.map.setView([item.lat, item.lon]);
      },

      searchLocation: function(text, callback) {
        var requestUrl = "https://nominatim.openstreetmap.org/search?format=json&q="+text;
        $.ajax({
          url: requestUrl,
          type: "GET",
          dataType: 'json',
          error: function(err) {
            console.log(err);
          },
          success: function(data) {
            var item = data[0];
            callback(item);
          }
        });
      }
    }

    $(document).ready(function () {
      var coordinates = <%= map_load_id %>.getCoordinates();
      <%= map_load_id %>.init(coordinates.lat, coordinates.lng);
    });
  </script>
  <style>
    .latlng-search-box {
      height: 18px;
      position: relative;
      left: 52px;
      top: 44px;
      max-width: 400px;
      z-index: 2;
      border-radius: 4px;
    }
  </style>
  <input id="latlng-search-box-<%= map_load_id %>" class="leaflet-bar latlng-search-box" type="text" style="" placeholder="Type address and hit enter...">
  <div id="<%= map_load_id %>" style="width: auto; height: <%= height %>px;"></div>
</li>
